.form-search {
  display: flex;
  justify-self: center;
  align-self: center;
  max-height: 50px;
  max-width: 600px;
}

.button-search {
  display: block;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 1px 6px 6px 1px;
  -webkit-appearance: none;
  color: #99a3ba;
  border: 1px solid #cdd9ed;
  background: #fff;
  transition: border 0.3s ease;
}

.input-search {
  display: block;
  padding: 8px 16px;
  line-height: 25px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px 1px 1px 6px;
  -webkit-appearance: none;
  color: #99a3ba;
  border: 1px solid #cdd9ed;
  background: #fff;
  transition: border 0.3s ease;
}
