:root {
  --primary-main: #427bff;
  --primary-light: #aac4ff;
  --primary-dark: #0653fa;
  --secondary-main: #faf0e6;
  /* --secondary-light: #faf0e6; */
  /* --secondary-dark: #faf0e6; */
  --text-primary: #4a4a4a;
  --text-secondary: #faf0e6;
  /* --text-disabled: #faf0e6; */
  --action-active: #faf0e6;
  --action-hover: #427bff;
  --action-selected: #427bff;
}

body {
  --padding-container: 3vw;
}
